@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    scrollbar-color: #1455ff #323c49;
    scrollbar-width: thin;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #323c49;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1555fd;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1555fd;
    border-radius: 10px;
}

body {
    /*background:#1c2531;*/
    background: #25303e;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", serif;
}

.login-left {
    background: #180C16;
    height: 100%;
    display: flex;
    justify-content: center;
}

.login-left img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.login-right {
    display: flex;
    justify-content: center;
    padding: 50px 70px;
    min-height: 100%;
    background: #1c2531;
}

.login-form {
    width: 100%;
}

.login-form h4 {
    margin-bottom: 2rem;
    font-weight: 700;
}

.login-form .input-group {
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 2rem;
    background: #25303e;
    border-radius: 3px;
    overflow: hidden;
}

.login-form .input-group .form-control {
    background: none;
    border: none;
    padding: .75rem 1rem;
    color: #fff;
}
input:-internal-autofill-selected{
    background-color: transparent !important;
}

.login-form .input-group .form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.login-form .input-group-text {
    background: none;
    border: none;
    padding-right: 0;
}

.login-form img {
    width: 18px;
    fill: #fff !important;
}

.login-form .eye {
    background: none;
    border: none;
    padding: .5rem .75rem;
}

.link-white {
    color: #fff;
    text-decoration: none;
    margin-bottom: 2rem;
    display: inline-block;
}

.link-white:hover {
    color: #fff;
    text-decoration: underline;
}

.link-grey {
    color: #99ade0;
    text-decoration: none;
    margin-bottom: 2rem;
}

.link-grey:hover {
    color: #99ade0;
    text-decoration: underline;
}

.login-btn {
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 2rem;
    background: #25303e;
    border-radius: 50px;
    padding: .75rem 3rem;
    border: none;
    color: #fff;
    font-weight: 700;
}

.login-btn-sm {
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.75);
    background: #25303e;
    border-radius: 50px;
    padding: .75rem 2.5rem;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.or {
    padding: 0;
    margin: 0;
    text-align: center;
}

.or li {
    display: inline-block;
    margin: 0 .5rem;
    font-size: 14px;
}

.main {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.sidebar {
    background: #1c2531;
    width: 120px;
    height: calc(100vh - 2rem);
    padding: 1rem .5rem;
    text-align: center;
    border-radius: 20px;
}

.logo {
    margin-bottom: 1rem;

}

.logo img {
    height: 80px;
    width: 80px;
    border-radius: 53px;
    margin-bottom: .5rem;
}

.logo span {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

.menu {
    height: calc(100% - 128px - 142px);
    overflow: auto;
    scrollbar-width: none;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu li {
    display: block;
    margin: 1rem 0;
}

.menu li a {
    color: #fff;
    font-size: 13px;
    display: block;
    text-decoration: none;
}

.menu li a div {
    background: none;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    display: flex;
    margin: auto;
}

.menu li a.active div,
.menu li a:hover div {
    background: #1455ff;
    width: 36px;
    height: 36x;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    display: flex;
    margin: auto;
}

.menu li img {
    width: 26px;
    height: 26px;
    display: block;
    margin: auto;
    object-fit: contain;
}

.logout a {
    color: #fff;
    font-size: 13px;
    display: block;
    text-decoration: none;
}
.logout ul{
    margin: 0;
    padding: 0;
}
.logout ul li{
    display: block;
    margin: 1rem 0;
}
.logout a div {
    background: none;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    display: flex;
    margin: auto;
}

.logout a img {
    width: 26px;
    height: 26px;
    display: block;
    margin: auto;
    object-fit: contain;
}

.logout a:hover div {
    background: #1455ff;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    display: flex;
    margin: auto;
}
.logout .user > div, .logout .user:hover > div{

    width: 36px;
    height: 36px;
    border-radius: 36px;
    background: #25303E;
    margin: auto;
    overflow: hidden;
}
.logout .user > div >img{
    width: 36px;
    height: 36px;
    object-fit: contain;
}
.content {
    width: calc(100% - 90px);
    height: calc(100vh - 2rem);
}

.main-content {
    height: calc(100vh - 172px);
    overflow-y: auto;
    padding-right: 1rem;
}

.page-title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
}

.page-title h5 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.page-title nav .breadcrumb {
    margin-bottom: 0;
}

.page-title nav .breadcrumb .breadcrumb-item {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}

.page-title nav .breadcrumb .breadcrumb-item a {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.page-title nav .breadcrumb .breadcrumb-item a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.page-title nav .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
    content: url(../img/arrow-right.png);
    line-height: 26px;

}

.btn-blue {
    border: none;
    color: #fff;
    background: #1455ff;
    padding: .65rem 2rem .65rem 2rem;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}
.btn-blue.disabled {
    border: none;
    color: #fff;
    background: #1455ff;
    padding: .65rem 2rem .65rem 2rem;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    opacity: .5;
    cursor: none;
}

.btn-red {
    border: none;
    color: #fff;
    background: #98111e;
    padding: .65rem 2rem .65rem 2rem;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}
.btn-red.disabled {
    border: none;
    color: #fff;
    background: #98111e;
    padding: .65rem 2rem .65rem 2rem;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    opacity: .5;
    cursor: none;
}

.card {
    background: #1c2531;
    color: #fff;
    border-radius: 20px;
}

.card .card-body {
    padding: 0 1rem;
}

.card .card-header {
    text-align: center;
    border-bottom: 1px solid rgba(243, 246, 249, 0.45);
    font-size: 16px;
    font-weight: 500;
    margin: 0 1rem;
    padding: 1rem 0;
}

.card .card-footer {
    text-align: center;
    border-top: 1px solid rgba(243, 246, 249, 0.45);
    font-size: 16px;
    font-weight: 600;
    margin: 0 1rem;
}

.table tr td {
    background: none;
    color: #fff;
    vertical-align: middle;
}

.table tr th {
    background: none;
    color: #99ade0;
    vertical-align: middle;
}

.dashboard-card {
    border-radius: 20px;
    padding: 1rem;
    color: #131215;
    position: relative;
    background-image: url(../img/dashboard-bg.png) !important;
    background-size: 200px !important;
    background-position: top left !important;
    background-repeat: no-repeat !important;
}

.dashboard-card h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.dashboard-card h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
    line-height: 48px;
}

.dashboard-card img {
    height: 100px;
    width: auto;
    object-fit: contain;
    position: absolute;
    right: 0;
    bottom: 0;
}

.bg-green {
    background: #0bf4c8;
}

.bg-yellow {
    background: #fad85d;
}

.bg-purple {
    background: #f2a0ff;
}

.footer {
    background: #1c2531;
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    padding: 1rem 1rem;
    text-align: center;
    margin-top: .75rem;
}

.project-list {
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.project-list li {
    display: block;
}

.project-card {
    width: 275px;
    text-align: center;
    height: 100%;
}

.project-logo {
    height: 127px;
    width: 127px;
    border-radius: 120px;
    text-align: center;
    line-height: 127px;
    background: #AFC5FF;
    color: #172B4C;
    font-size: 40px;
    font-weight: 500;
    margin: auto auto -60px auto;
    border: 7px solid #1C2531;
    z-index: 1;
    position: relative;
}

.project-body {
    background: #1C2531;
    border-radius: 25px;
    padding: 5rem 1.5rem 1rem 1.5rem;
    position: relative;
}

.project-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.project-desc {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    height: 68px;
    margin-bottom: 1rem;

}
.project-data{
  padding-top: 1rem;
  border-top: 1px solid rgba(243, 246, 249, 0.45);
}
.project-data ul{
    padding: 0;
    margin: 0;
    display: flex;
  justify-content: space-between;
  }
  .project-data ul li{
    display: inline-block;
  }
  .project-data ul li img{
    width: 18px;
  height: 18px;
    object-fit: contain;
    opacity: .3;
  }
  .project-data ul li span{
    margin-left: .5rem;
  }

.action .dropdown-menu a {
    background: none;
    display: block;
    padding: 0;
    color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
}

.action .dropdown-menu a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.action .dropdown-menu a img {
    height: 16px;
    width: 16px;
}

.action .dropdown-menu a.green {
    background: rgba(17, 159, 104, 1);
}

.action .dropdown-menu a.blue {
    background: rgba(20, 85, 255, 1);
}

.action .dropdown-menu a.red {
    background: rgba(232, 79, 79, 1);
}

.action .dropdown-menu a.green:hover {
    background: rgba(17, 159, 104, 1);
}

.action .dropdown-menu a.blue:hover {
    background: rgba(20, 85, 255, 1);
}

.action .dropdown-menu a.red:hover {
    background: rgba(232, 79, 79, 1);
}

.action {
    position: absolute;
    top: 10px;
    right: 20px;
}

.action .action-btn img {
    width: 32px;
    height: auto;
}

.action .dropdown-menu {
    background: #1455ff;
    width: auto;
    min-width: auto;
    border-radius: 12px;
    padding: .5rem;
}

.btn-close {
    position: absolute;
    right: 1.5rem;
    background: url(../img/close.png) no-repeat;
    background-position: center;
}

.modal-backdrop {
    background: #0D6EFD;
}

.modal-content {
    background: #25303E;
    border-radius: 12px;
}

.modal-header {
    justify-content: center;
    border: none;
    padding: 1.5rem 0;
}

.modal-title {
    font-size: 24px !important;
    font-weight: 600;
}

.modal-footer {
    justify-content: center;
    border: none;
}

.form-control {
    background-color: rgba(255, 255, 255, .06);
    border: none;
    color: #fff;
    border-radius: 12px;
    padding: .75rem 1rem;
}

.form-select {
    background-color: rgba(255, 255, 255, .06);
    border: none;
    color: #fff;
    border-radius: 12px;
    padding: .75rem 1rem;
    background-image: url("../img/arrow-down.png");
}
.form-control:focus,
.form-select:focus {
    color: #fff;
    border: none;
    background-color: rgba(255, 255, 255, .06);
    outline: 0;
    box-shadow: 0 0 0 .0 rgba(13, 110, 253, .25);
}

.upload-doc {
    position: relative;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .06);
}

.upload-doc .form-control {
    background: none;
    resize: none;
    border-radius: 12px;
}

.upload-section {
    display: flex;
    width: 100%;
    padding: .5rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, .2);
    justify-content: space-between;
    align-items: center;
}
.upload-section.inline{
    flex: 1 1 auto;
  width: 1%;
  border: none;
}
.upload-btn input[type="file"] {
    display: none;
}

.upload-btn .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #1455ff;
    border-radius: 4px;
}
.upload-btn span {
    margin-left: 1rem;
}
.persona-card {
    width: 270px;
    text-align: center;
    height: 100%;
    position: relative;
}

.persona-logo {
    height: 127px;
    width: 127px;
    border-radius: 120px;
    text-align: center;
    line-height: 127px;
    background: #25303e;
    color: #172B4C;
    font-size: 40px;
    font-weight: 500;
    margin: auto auto -60px auto;
    border: 7px solid #1C2531;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.persona-logo img {
    width: 127px;
    height: 127px;
    margin-left: -7px;
}

.persona-body {
    background: #1C2531;
    border-radius: 25px;
    padding: 5rem 1.5rem 2rem 1.5rem;
    position: relative;
}

.persona-name {
    color: #AFC5FF;
    font-size: 20px;
    font-weight: 500;
}

.persona-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.persona-desc {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    height: 105px;
}

.persona-card .form-check-input {
    position: absolute;
    left: 13px;
    top: 74px;
    width: 30px;
    height: 30px;
    border-radius: 26px;
    z-index: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.persona-card .form-check-input:checked {
    background-color: #1455ff;
    border-color: #1455ff;
    border: 1px solid #25303e;
}

.persona-card .form-check-input:checked+.persona-body {
    background-color: #1455ff;
    border-color: #1455ff;
}

.option-list {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.option-list .form-check-input {
    width: 24px;
    height: 24px;
    margin-top: 0;
}

.option-list .form-check-label {
    margin-left: 12px;
}

.option-list .form-check-input:checked {
    background-color: #1455ff;
    border-color: #1455ff;
}

.persona-section {
    height: 400px;
    overflow-y: auto;
    padding: 1rem;
}

.persona-section-list {
    margin: 0;
    padding: 0;
}

.persona-section-list li {
    display: flex;
    margin-bottom: 1rem;
}

.persona-section-card {
    width: 100%;
    position: relative;
    background: #1C2531;
    border-radius: 25px;
    display: flex;
}

.persona-section-logo {
    max-height: 124px;
    max-width: 124px;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;
    background: #25303e;
    color: #172B4C;
    font-size: 40px;
    font-weight: 500;
    border: 2px solid #1C2531;
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
}

.persona-section-logo img {
    width: 124px;
    height: 124px;
    margin-left: -8px;
}

.persona-section-body {
    padding: 5px;
    position: relative;
    display: flex;
}

.persona-section-name {
    color: #AFC5FF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.persona-details {
    width: calc(100% - 124px);
}

.persona-section-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, .4);
}

.persona-section-desc {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-height: 24px;
}

.persona-section-list .form-check-input {
    width: 30px;
    height: 30px;
    border-radius: 26px;
    z-index: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-self: center;
    margin-right: 1rem;
}

.persona-section-list .form-check-input:checked {
    background-color: #1455ff;
    border-color: #1455ff;
    border: 1px solid #25303e;
}

.persona-section-list .form-check-input:checked+.persona-section-card {
    background-color: #1455ff;
    border-color: #1455ff;
}

.usecase-list > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.usecase-list > ul li {
    display: block;
}

.usecase-card {
    position: relative;
}

.usecase-list .usecase-body {
    width: 240px;
    text-align: center;
    height: 100%;
    position: relative;
    background: #1C2531;
    border-radius: 24px;
    padding: 5px;
}

.usecase-icon {
    background: #25303E;
    border-radius: 18px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usecase-title {
    font-size: 14px;
    line-height: 24px;
    padding: 1rem;
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.usecase-title .uc, .usecase-title .fr{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: .5rem;
    text-align: left;
}
.usecase-title .tc{
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid rgba(243, 246, 249, 0.3);
    padding-top: .5rem;
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;  
  color: #AFC5FF;
}
.usecase-title .tc:hover{
    color: #1455ff;
}
.usecase-title .tc.no-hover:hover{
    color: #AFC5FF;
}

.usecase-title .uc-link{
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
    color: #AFC5FF;
    cursor: pointer;
}
.usecase-title .uc-link:hover{
    color: #1455ff;
}

.usecase-title .uc img, .usecase-title .fr img{
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: .5rem;
    opacity: .4;
}

.usecase-list .form-check-input {
    width: 30px;
    height: 30px;
    border-radius: 26px;
    z-index: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-self: center;
    margin-right: 1rem;
    opacity: 1;
    position: absolute;
    top: 10px;
  left: 14px;
}

.usecase-list .form-check-input:checked {
    background-color: #1455ff;
    border-color: #1455ff;
    border: 1px solid #25303e;
}

.usecase-list .form-check-input:checked+.usecase-body {
    background-color: #1455ff;
    border-color: #1455ff;
}
.project-info{
    width: 100% !important;
  background: #1C2531;
  border-radius: 18px;
  align-items: center;
  padding: 0 .5rem;
}
.project-info .input-group-text{
    padding: 1rem 3rem;
  background: none;
  border: none;
  color: #fff;
}
.project-info .form-select{
    -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #1C2531;
  border:none !important;
}
.table .form-check-input{
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin: .5rem 0;
}
.table .form-check-input:checked {
    background-color: #1455ff;
    border-color: #1455ff;
  }
  .persona-header{
    display: flex;
    margin-bottom: 1rem;
  }
  .persona-header .ph-name{
    align-self: center;
    font-size: 14px;
  }
  .persona-header .ph-name span{
    font-size: 20px;
    font-weight: 600;
    color: #AFC5FF;
  }
  .persona-header  .persona-img{
    height: 40px;
    width: 40x;
    border-radius: 30px;
    border: 2px solid rgb(28, 37, 49);
    overflow: hidden;
    margin-right: 1rem;
  }
  .persona-header  .persona-img img{
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin: -2px;
  }
  .persona-list{
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .06);
    height: 200px;
    overflow: auto;
    padding: 1rem;
  }
  .persona-list ul{
    padding: 0;
    margin: 0;
  }
  .persona-list ul li{
    display: block;
    margin: .5rem;
  }
  .persona-list ul li .p-img{
    width: 36px;
  height: 36px;
  border-radius: 36px;
  background: #25303E;
  margin: auto;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: .5rem;
  }
  .persona-list ul li .p-img img{
    width: 36px;
  height: 36px;
  object-fit: contain;
  }
  .persona-list .form-check-input {
    width: 30px;
    height: 30px;
    border-radius: 26px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-self: center;
    margin-right: 1rem;
  }
  .persona-list .form-check-input:checked {
    background-color: #1455ff;
    border-color: #1455ff;
    border: 1px solid #25303e;
  }
